* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Inter";
    --branco-cor: #FFFFFF;
    --cinza-cor: #667085;
    --vermelho-cor: #8E2424;
    --preto-cor: #101828;
}


.navegacao {
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 32px;
}
.navegacao__conteudo {
    display: flex;
    justify-content: flex-start;
    padding: 0 20em 0 0;
}
.navegacao__links a {
    color: var(--cinza-cor);
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    margin: 0 2em 0 0;
    transition: 0.4s;
}
.navegacao__links a:hover {
    color: var(--vermelho-cor);
}
.navegacao__acoes a {
    text-decoration: none;
}

.acao__entrar {
    padding: 10px 18px;
    transition: 0.4s;
}
.acao__entrar:hover {
    color: var(--vermelho-cor);
}
.acao__cadastrar {
    color: var(--branco-cor);
    background-color: var(--vermelho-cor);
    border: 1px, solid, var(--vermelho-cor);
    border-radius: 8px;
    padding: 10px 18px;

    transition: 0.4s;
}
.acao__cadastrar:hover  {
    background-color: transparent;
    color: var(--vermelho-cor);
    border-width: 3px;
    padding: 7px 15px;
    font-weight: 600;
}




.cabecalho {
    text-align: center;
    font-family: var(--fonte-principal);

    display: flex;
    flex-direction: column;
    margin: 6em 20.50em;

    transition: 1s;
}
.cabecalho__sessao {
    color: var(--vermelho-cor);
    font-weight: 600;
    padding-bottom: 1.5em;
}
.cabecalho__titulo {
    color: var(--preto-cor);
    font-size: 3em;
    margin-bottom: 0.5em;
}
.cabecalho__texto {
    color: var(--cinza-cor);
}




.metricas {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 5em 6em;
    font-family: var(--fonte-principal);
}
.metricas__celula {
    padding: 0 1em;
}
.metricas h1 {
    color: var(--vermelho-cor);
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 12px;
}
.metricas span {
    color: var(--preto-cor);
    font-weight: 500;
}
.metricas p {
    color: var(--cinza-cor);
    font-size: 400;
    padding-top: 8px;
}


.vagas {
    padding: 112px;
}
.vagas img {
    border-radius: 8px;
    transition: 2s;
}

.talentos {
    text-align: center;
    font-family: var(--fonte-principal);
}
.talentos__badge {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
    color: var(--vermelho-cor);
    background-color: #8E24240D;
    border: 1px, solid, transparent;
    border-radius: 16px;
}
.talentos__titulo {
    font-size: 36px;
    font-weight: 600;
    padding: 16px 0 20px 0;
}
.talentos__texto {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 64px;
    color: var(--cinza-cor);
}


.trabalhos {
    padding: 80px;
    font-family: var(--fonte-principal);
    transition: 3s;
}
.trabalhos__topico {
    padding: 0 256px;
}
.trabalhos__titulo {
    font-weight: 500;
    font-size: 20px;
    padding: 40px 0 32px 0;
}
.trabalhos__container {
    border: 1px, solid, #EAECF0;
    border-radius: 16px;
    padding: 28px 24px;
    margin-bottom: 24px;
    
}
.trabalhos__container h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 56px;
}
.trabalhos__texto {
    display: flex;
    flex-direction: row;
    color: var(--cinza-cor);
    font-weight: 500;
}
.trabalhos__texto p {
    padding: 0 24px 0 0;
}




.depoimentos {
    background-color: #8E24240D;
    margin: 0 113px;
    border: 1px, solid, #8E24240D;
    border-radius: 16px;
    text-align: center;
    font-family: var(--fonte-principal);
    padding: 64px;
}
.depoimentos__badge {
    color: var(--vermelho-cor);
    font-size: 14px;
    font-weight: 600;

}
.depoimentos__titulo {
    padding-top: 16px;
    color: var(--preto-cor);
    font-size: 36px;
}
.depoimentos__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}
.depoimentos__perfil img {
    width: 56px;
}
.perfil__nome {
    padding-top: 16px;
    font-weight: 500;

}
.perfil__descricao {
    padding-top: 4px;
    color: var(--cinza-cor);
    font-size: 14px;

}